{% extends "@!EasyAdmin/crud/detail.html.twig" %}

{% block main %}
    {{ parent() }}

    <h3 class="title">Access Logs</h3>
    <div class="container content-panel">
        {{ include('@admin/pages/link/components/table.access-logs.twig') }}
    </div>
{% endblock %}
